
body,
html {
  width: 100%;
  height: 100%; 
}

body{
	font-size: 100%;
	background-color: black;
}

.startup{
	grid-template-rows: 25% 60% 15%;
}

.pic {
	
  	background-position: middle;
  	background-image: url("worldafrica.jpeg");
  	background-size: contain;
  	background-repeat: no-repeat;
  	height:90%;

}
p {
	color: #8a6008;
	background-color: rgba(1, 1, 0, .8);

}

header hr {
  	margin-top: 50%;
  	margin-bottom: 5%; 
}

.hdr{
	font-family: 'Calligraffitti', cursive;
	color: #201600;
	font-size: 12vw;
	text-align: center;
	text-shadow: 3px 3px 10px #B17B0B; 
	
	margin-top: 5%;
	}

canvas{
	height: 100%;
}

.btn {
  font-weight: 350;
  font-family: 'Calligraffitti', cursive;
}

.btn-xl {
  padding: .25rem 1rem; 
}

.btn-primary {
  background-color: #B17B0B;
  border-color: #B17B0B;
   }

.btn-primary:hover {
  background-color: #201600;
  border-color: #B17B0B;
  border-width: 3px;
  cursor: pointer;
}

.btn:active, .btn:visted  {
  outline: none;
  border-color:#B17B0B;
}
.spacer{
	height: 7em;

}
 #mc{
	 padding-top:40%;
 }


 /* Button used to open the contact form - fixed at the bottom of the page */
 .open-button {
  
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   opacity: 0.8;
 }
 
 /* The popup form - hidden by default */
 .form-popup {
	 position: relative;
   display: none;
   width: fit-content;
   margin-left: 25%;
   border: 3px solid #f1f1f1;
   z-index: 9;
 }
 
 /* Add styles to the form container */
 .form-container {
   max-width: 300px;
   padding: 10px;
   background-color: white;
 }
 
 /* Full-width input fields */
 .form-container input[type=text], .form-container input[type=password] {
   width: 100%;
   padding: 15px;
   margin: 5px 0 22px 0;
   border: none;
   background: #f1f1f1;
 }
 
 /* When the inputs get focus, do something */
 .form-container input[type=text]:focus, .form-container input[type=password]:focus {
   background-color: #ddd;
   outline: none;
 }
 
 /* Set a style for the submit/login button */
 .form-container .btn {
   background-color: #04AA6D;
   color: white;
   padding: 16px 20px;
   border: none;
   cursor: pointer;
   width: 100%;
   margin-bottom:10px;
   opacity: 0.8;
 }
 
 /* Add a red background color to the cancel button */
 .form-container .cancel {
   background-color: #B17B0B;
 }
 
 /* Add some hover effects to buttons */
 .form-container .btn:hover, .open-button:hover {
   opacity: 1;
 } 